<a href="https://colab.research.google.com/github/Princess-Mcdonald/Ai-school-princess/blob/main/Lsd_math_score_Aischol_Princess.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
data = pd.read_csv('/content/lsd_math_score_data.csv')

In [2]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
# extacting a data from a single column
data['Avg_Math_Test_Score']

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [5]:
# storing a dataframe in a variable
onlymathscores = data['Avg_Math_Test_Score']
print(onlymathscores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [6]:
 # adding a column
 data['Test_Subject'] = 'Jennifer Lopez'

In [7]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [8]:
# Manipulating the value of a column
data ['High_score'] = 100

In [9]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [10]:
# Challenge: Overwrite the values in rows for High_score to equal Avg_Math_Test_Score + 100 (How to add 2 columns together)
data['High_score'] = data['High_score'] + data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [11]:
# Challenge: Square the values stored inside High_score
data ['High_score'] = data ['High_score'] ** 2
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [12]:
type(onlymathscores)

pandas.core.series.Series

In [13]:
# creating a sub dataframe from the main dataframe
# Challenge: create a list called columnList. Put 'LSD_ppm' and 'Avg_Math_Test_Score' inside.
# columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
# subDataFrame = data[columnList]
subDataFrame = data[['LSD_ppm', 'Avg_Math_Test_Score']]
print(subDataFrame)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [14]:
# creating a dataframe with a single column(will be used when working with Sickit Learn)
y = data[['Avg_Math_Test_Score']]
print(y)
type(y)

   Avg_Math_Test_Score
0                78.93
1                58.20
2                67.47
3                37.47
4                45.65
5                32.92
6                29.97

pandas.core.frame.DataFrame

In [15]:
# Challenge: 1) Create a variable called x
#  Set x equal to the values of LSD_ppm
#  Make sure x is a dataframe
# 2)Print the value of x
# 3) Show the type of x
x = data[['LSD_ppm']]
print(x)
type(x)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [16]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [17]:
# Challenge: Delete High_Score column from data
del data['High_score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [18]:
import life as hitchhickersGuide

In [19]:
type(hitchhickersGuide)

module

In [20]:
hitchhickersGuide.theAnswer

42

In [21]:
# Challenge: 1) import math module 2) print out value of pi  3) print out value of e
import math
math.pi

3.141592653589793

In [22]:
math.e

2.718281828459045

In [23]:
from life import theAnswer

In [24]:
myFavouriteNumber = theAnswer
print(myFavouriteNumber)

42

In [25]:
theAnswer = theAnswer + 1
print(theAnswer)

43